body {
    margin: 0px;
    padding: 0px;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
    font-family: 'Material Icons Two Tone' !important;
}

.container {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.floating-section {

    margin: 20px;
    padding: 0px;
    position: absolute;
    z-index: 1;
}

.input-wrapper {
    width: 100%;
    height: 100%;
}

.my-icon {
    font-size: 40px;
}

.my-icon-container {
    min-width: 60px;
    min-height: 60px;
}

.mdc-drawer {
    z-index: 100 !important;
    height: calc(100% - 45px) !important;
    margin: 10px 10px;
    border-radius: 4px !important;
    transition: box-shadow 0.3s !important;
}

.mdc-drawer:hover {
    box-shadow: 0px 0px 5px #6200ee !important;
}

.my-markers-container {
    height: calc(100% - 16px);
    display: flex;
    flex-direction: column;
}

.locations-container {
    margin: 8px;
    padding: 8px;
    flex-grow: 1;
    overflow-y: auto;
    transition: box-shadow 0.3s !important;
}

.locations-container--hovered {
    box-shadow: 0px 0px 5px #ee5700 !important;
}

.my-div {
    /* background-color: red; */
    height: 100%;
    position: absolute;
}

.my-input {
    margin: 8px;
    padding: 0 8px;
}

.my-list-item {
    height: auto !important;
}

.control-btn-container {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.control-btn-margins {
    margin: 30px 10px
}

.control-btn-margins-2 {
    margin: 80px 10px
}

.marker {
    font-size: 50px !important;
    color: #e29c2b;
    transition: color 0.3s !important
}

.marker-container {
    padding-bottom: 3rem !important;
}

.marker:hover {
    color: #6200ee;
}

.mdc-radio__inner-circle {
    border-color: #6200ee !important;
}

.mdc-radio__outer-circle {
    border-color: #6200ee !important;
}

.mdc-radio:hover, 
.mdc-radio:active, 
.mdc-radio:focus, 
.mdc-radio__native-control:focus {
    outline-color: #6200ee52 !important;
    background-color: #6200ee36 !important;
    border-radius: 20px;
}

:root {
    --mdc-theme-secondary: #6200ee36 !important;
}

.mdc-select {
    width: 150px !important;
}

.directions-origin { 
    box-shadow: 0px 0px 5px green;
}

.directions-destination {
    box-shadow: 0px 0px 5px #870101;
}

.mapboxgl-ctrl-group {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.width-100 {
    width: 100% !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='gray'%3E %3Cpath d='M10 4C9 4 9 5 9 5L9 5.1A5 5 0 0 0 5.1 9L5 9C5 9 4 9 4 10 4 11 5 11 5 11L5.1 11A5 5 0 0 0 9 14.9L9 15C9 15 9 16 10 16 11 16 11 15 11 15L11 14.9A5 5 0 0 0 14.9 11L15 11C15 11 16 11 16 10 16 9 15 9 15 9L14.9 9A5 5 0 0 0 11 5.1L11 5C11 5 11 4 10 4zM10 6.5A3.5 3.5 0 0 1 13.5 10 3.5 3.5 0 0 1 10 13.5 3.5 3.5 0 0 1 6.5 10 3.5 3.5 0 0 1 10 6.5zM10 8.3A1.8 1.8 0 0 0 8.3 10 1.8 1.8 0 0 0 10 11.8 1.8 1.8 0 0 0 11.8 10 1.8 1.8 0 0 0 10 8.3z'/%3E %3C/svg%3E") !important;
}

.my-radio-list {
    display: flex;
    margin: 10px;
    outline: none;
    padding: 5px;
}

.mdc-snackbar__label { 
    font-size: 20px !important;
    padding: 20px !important;
}
.mapboxgl-popup-content {
    border-radius: 9px !important;
    box-shadow: 4px 3px 20px #9872c7 !important;
    font-family: Roboto !important;
    font-size: 13px;
    font-weight: lighter;
    color: #746981;
}